  /*reset*/
 ul {
	list-style: none;
}
a {
    all: unset;
}

/* layout*/
body {
    background-color: #fff;
    font-family: Grape Nuts, Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    font-size: 1.4rem;
}

@font-face {
    font-family: 'Grape Nuts';
    src: url("./Grape_Nuts/GrapeNuts-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
  }

/*header*/
header {
    background-color: #2ec4b6;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10rem;
}

header>img {
    height: 2.2rem;
    margin-bottom: 0.6rem;
}

/* nav de los tipos de musica con imagenes*/
.navMusicStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin: 2.8rem;
}
.navMusicStyle>li{
    box-sizing:border-box;
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 1.2rem;
    font-weight: 600;
}
a:hover{
    cursor:pointer;
}
.navMusicStyle>li>p{
   border-radius:100%;
   color: #fff703;
   margin-top: 10.2rem;
   font-size: 3rem;
}
.rock{
    background-image: url("rock.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(5px 5px 10px #cc00ff ) ;
    box-shadow: 0px 0px 10px 10px rgba (255,210,82,1);
    transform: scale (4);
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    border-radius: 100%;
    
}

.hip-hop{
    background-image: url( "hiphop.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(5px 5px 10px #cc00ff);
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    border-radius: 100%;
}


  
.indie{
    background-image: url("indie.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(5px 5px 10px #cc00ff) ;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    border-radius: 100%;
   
    
}

.jazz{
    background-image: url("jazz.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(5px 5px 10px #cc00ff) ;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    border-radius: 100%;
}

.reggae{
    background-image: url("./reggae.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(5px 5px 10px #cc00ff) ;
    text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
    border-radius: 100%;
}
.navMusicStyle>li:hover{
    top:0px;
    opacity:0.5;
  }
  
  .navMusicStyle>li:nth-child(1){
      transform:rotate(10deg);
  }
  
  .navMusicStyle>li:nth-child(2){
      transform:rotate(10deg);
  }
  
  .navMusicStyle>li:nth-child(3){
      transform:rotate(10deg);
  }
  
  .navMusicStyle>li:nth-child(4){
      transform:rotate(10deg);
  }
  
  .navMusicStyle>li:nth-child(5){
      transform:rotate(10deg);
  }
  
  .navMusicStyle>ul>li>p{
    margin:-15px 0 0 0;
  }
  
  .navMusicStyle>li{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    
  
  
  }
  


/*nav de las tres opciones de lista: overview, top 10, the biggest*/

.navListas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    background-color: #2ec4b6;
    border-radius: 100rem;
    color: #FFF703;
}

.contenedorListas {
   display: flex;
   justify-content: center;
}
.navListas>li{
    padding: 0.2rem 1rem; 
}

.sombra{
    color: #cc00ff;
    font-size: 2.8rem;
}

.sombranormal {
    color: #FFF703
}

 

/*section de las canciones */
.songsContainer>h2 {
text-align: center;
font-size: 2.6rem;
}

.songsContainer>h2::after, .songsContainer>h2:before {
content: " ---- ";
color:#cc00ff;
}

.songs>li{
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.songs>li>img {
    width: 1.8rem;
    background-color: transparent;
    border-radius: rem;
    margin-left: 1rem; 
}


 .songs {
    counter-reset: li;
    list-style: none;
} 

.songs > li> .songArtist:before {
    counter-increment: li;
    content: counter(li)". ";
}

 .songBold{
    font-weight: bold;
    width: 60%;     
}

.songArtist{
    text-align:start;
    width: 20%;
    
}

ol> :nth-child(odd){
    background-color: #cbf3f0;
} 


li :nth-child(odd){
    background-color: transparent;
} 





